@font-face {
  font-family:Sarala;
  font-weight:normal;
  font-style:normal;
  src:url('./fonts/Sarala-Regular.ttf');
}

@font-face {
  font-family:Sarala;
  font-weight:bold;
  font-style:normal;
  src:url('./fonts/Sarala-Bold.ttf');
}

@font-face {
  font-family:DMMono;
  font-weight:normal;
  font-style:normal;
  src:url('./fonts/DMMono-Regular.ttf');
}

@font-face {
  font-family:DMMono;
  font-weight:normal;
  font-style:italic;
  src:url('./fonts/DMMono-Italic.ttf');
}

:root {
  --font-normal:Sarala, Helvetica, Arial, sans-serif;
  --font-monospace:DMMono, 'Courier New', monospace;

  --text:#222222;
  --text-2:#333333;
  --bg:#eeeeee;
  --bg-2:#cccccc;
  --primary:#4455aa;
  --error:#cc4444;
}

@media (prefers-color-scheme:dark) {
  :root {
    --text:#eeeeee;
    --text-2:#cccccc;
    --bg:#222222;
    --bg-2:#333333;
    --primary:#5577cc;
  }
}

* {
  box-sizing:border-box;
  padding:0px;
  margin:0px;
}

html {
  font:14pt var(--font-normal);
  color:var(--text);
  background-color:var(--bg);
  max-width:50ch;
  min-height:100vh;
  margin:auto;
  padding:16px;
  hyphens:auto;
}

code {
  hyphens:none;
}

header {
  text-align:center;
}

*.text-error {
  color:var(--error);
}
