#main {
  height:fit-content;
  width:fit-content;
  margin:auto;
  margin-top:25px;
  margin-bottom:25px;
  padding:25px;
  border:5px solid grey;
  text-align:center;
  font-family:monospace;
}

#canvas {
  border:5px solid grey;
  margin-top:15px;
}
