@font-face {
  font-family: Header;
  src: url(/fonts/Clother/clother_300.woff2);
}

@font-face {
  font-family: Other;
  src: url(/fonts/Parabolica/parabolica_400.woff2);
}

@font-face {
  font-family: Body;
  src: url(/fonts/KohSantepheap/KohSantepheap-Regular.ttf);
}

@keyframes bodyfade {
  from { transform: translateX(-1rem); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@layer reset {
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
}

@layer variables {
  html {
    --text:light-dark(#222,#dcd7ba);
    --text-faded:light-dark(#555,#9c979a);
    --bg:light-dark(#fff,#1f1f28);
    --bg-faded:light-dark(#eee,#235);
    --bg-trans:light-dark(
      color(from var(--bg) srgb r g b / 0.90),
      color(from var(--bg) srgb r g b / 0.90)
    );
    --bg-disabled:light-dark(#eee, #2f2f38);
    --primary:light-dark(#4023af,#69d);
    --link:light-dark(#45f,#aad);
    --visited:light-dark(#95f,#daf);
    --error:light-dark(#c44,#c44);

    --rule:2px;

    --font-size:14pt;
    --line-height:1.5;
    --body-family:Body, serif;
    --header-family:Header, sans-serif;
    --other-family:Other, sans-serif;
  }

  *.dark {
    --text:light-dark(#fff,#1f1f28);
    --text-faded:light-dark(#bce,#357);
    --bg:light-dark(#222,#dcd7ba);
    --bg-faded:light-dark(#3f4f94,#58c);
    --link:light-dark(#aad,#45f);
    --visited:light-dark(#daf,#95f);

    color:var(--text);
    background: var(--bg);
  }
}

@layer base {
  html {
    overflow-x: hidden;
    counter-reset:figure;
  }

  html, button, input {
    color:var(--text);
    background:var(--bg);
    font:var(--font-size) / var(--line-height) var(--body-family);
  }

  @media (prefers-color-scheme: light) {
    html {
      background: url("/images/2048x1537_pier.jpg") no-repeat center center fixed;
      background-size:cover;
    }
  }

  @media (prefers-color-scheme: dark) {
    html {
      background: url("/images/4000x3000_scene.jpg") no-repeat center center fixed;
      background-size:cover;
    }
  }
}

@layer elements {
  p {
    hyphens: auto;
  }

  ul, ol, dl {
    margin-left:2ch;
  }

  p + ul {
    margin-top:0.5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size:1em;
    line-height: 1;
    font-weight: normal;
    font-family: var(--header-family);
  }

  h1 {
    font-size:1.8rem;
    margin-bottom:1rem;
    color:var(--primary);
  }

  h2 {
    font-size:1.5rem;
    margin-bottom:0.5rem;
  }

  h3 {
    font-size:1.2rem;
  }

  a {
    color:var(--link);
    text-decoration: none;

    &:visited {
      color:var(--visited);
    }

    &:hover {
      text-decoration: underline solid 1px currentColor;
    }

    &.nolink {
      color:inherit;

      &:hover {
        color: currentColor;
        text-decoration: none;
      }
    }
  }

  figure {
    padding:1rem;
    text-align:center;
  }

  figcaption {
    font-size:0.8em;
    color:var(--text-faded);
  }

  img {
    border-radius:0.7rem;
  }

  img + figcaption::before {
    counter-increment:figure;
    content:'fig 'counter(figure)': ';
  }

  summary {
    font-size:1.1em;
    font-family: var(--other-family);
    cursor: pointer;
    margin-left:-2ch;
    padding:0.1rem 0.75rem 0.25rem 0.75rem;

    &:hover {
      background: var(--bg-faded);
      border-radius:0.25rem;
    }
  }

  details {
    margin-block:0.5rem;
    margin-left:2ch;

    &:is(:open, [open]) {
      padding-bottom:0.5rem;
      border-bottom:solid var(--rule) currentColor;
    }
  }

  section.project {
    margin-bottom:3rem;

    display:grid;
    grid-template:
      "title img" min-content
      "tag img" min-content
      "links img" min-content
      "langs img" 1fr
      "desc desc" min-content
    / 1fr min-content;
    column-gap: 1rem;

    h2.title  { grid-area:title; }
    p.tagline { grid-area:tag;   }
    p.links   { grid-area:links; }
    p.langs   { grid-area:langs; }
    p.desc    { grid-area:desc;  }
    img.thumb { grid-area:img;   }

    p.desc {
      margin-top:0.5rem;
    }
  }
}

@layer classes {
  *.text {
    text-align: justify;

    p ~ p {
      text-indent: 2ch;
    }
  }

  *.float-right {
    @media (width > 46rem) {
      float:right;
      padding-block:0;
      margin-block:0;
      margin-right:0;
      padding-right:0;
    }
  }

  *.full {
    @media (width > 46rem) {
      margin-inline:-50vw;
      padding-inline:calc(50vw + 2rem);
    }
  }

  *.font-header { font-family: var(--header-family); }
  *.font-body   { font-family: var(--body-family);   }
  *.font-other  { font-family: var(--other-family);  }

  *.text-faded { color:var(--text-faded); }
  *.text-error { color:var(--error);      }

  *.primary  { background:var(--primary);  }
  *.bg-trans { background:var(--bg-trans); }

  *.kfc-bodyfade > * { animation:bodyfade 0.5s; }
}

@layer layout {
  body {
    max-width:42rem;
    min-height:100vh;
    margin-inline:auto;

    display:grid;
    grid-template:
      "head head" min-content
      "main nav" 1fr
      "foot foot" min-content
    / 1fr min-content;

    @media (width < 46rem) {
      grid-template:
        "head" min-content
        "main" 1fr
        "foot" min-content
      / 1fr;

      & > nav {
        display:none;
      }
    }

    & > header { grid-area:head; }
    & > nav    { grid-area:nav;  }
    & > main   { grid-area:main; }
    & > footer { grid-area:foot; }

    & > header {
      margin-block:4rem;

      display:grid;
      grid-template:
        "nop center emp" 1rem
        "left center right" min-content
        "del center xxx" 1rem
      / 1fr 3.5fr 1fr;

      @media (width < 46rem) {
        grid-template:
          "center center center" min-content
          "left nop right" min-content
        / 1fr 2rem 1fr;

        margin-bottom:6rem;
      }

      h1      { grid-area:center; }
      ul      { grid-area:left;   }
      ul + ul { grid-area:right;  }

      h1 {
        line-height: 1;
        font-size:120px;
        text-align: center;
        margin:0 0 0.12em 0;

        @media (width < 46rem) {
          font-size:4rem;
        }
      }

      ul {
        display:grid;

        list-style: none;
        margin:0;
        text-align:right;

        & + ul {
          text-align:left;
        }

        a, a:visited {
          color:var(--primary);
          display:block;
        }
      }
    }

    & > nav {
      border-radius:0 0.5rem 0 0;

      a, a:visited {
        color:var(--text);
        display:block;
        padding:0.25rem 1rem;

        &:hover {
          background:var(--bg-faded);
          text-decoration:none;
        }

        &:active {
          background:var(--text-faded);
          color:var(--bg-faded);
        }
      }

      ul {
        list-style: none;
        margin:0rem;
        margin-top:1rem;
        width:150px;

        position: sticky;
        top:1rem;
      }

      picture {
        position: sticky;
        top:calc(100vh - 1.5rem);
        padding-inline:0.5rem;
      }
    }

    & > main {
      padding-top:2rem;
      padding-inline:2rem;
      border-radius:0.5rem 0 0 0;

      @media (width < 46rem) {
        padding-inline:1rem;
        border-radius:0;
      }

      & > section {
        margin-block:2rem;
        padding-top:0.5rem;
        border-top:solid var(--rule) var(--primary);

        &:first-child {
          padding-top:0;
          margin-top:0;
          border-top:none;
        }
      }
    }

    & > footer {
      display:grid;
      grid-auto-flow: column;

      @media (width < 46rem) {
        display:block;
        padding-inline:1rem;

        section + section {
          margin-top:1rem;
        }
      }

      font-size:0.8rem;
      font-family:var(--other-family);

      padding-block:1rem;
    }
  }
}
