img {
  border:2px solid black;
  display:block;
  margin:auto;
}

h1 {
  font-size:40px;
  font-family:verdana, sans-serif;
}

h2 {
  font-size:20px;
  text-transform:uppercase;
  font-family:copperplate, monospace;
}

h3 {
  font-size:28px;
  font-family:verdana, sans-serif;
}

p {
  font-family:helvetica, sans-serif;
}

.navbar-brand {
  font-family:verdana, sans-serif;
}

.nav-link {
  font-size:16px;
  text-transform:uppercase;
  font-family:copperplate, monospace;
  margin-left:10px;
  margin-right:10px;
}

.row, .col-sm, .col-md, .col-md {
  margin-top:3px;
  margin-bottom:3px;
  margin-left:2px;
  margin-right:2px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:2px;
  padding-right:2px;
}

.canvas {
  width:70%;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
}

.container {
  background-color:white;
  border-radius:20px;
  margin:20px;
  padding:20px;
}

.carbon {
  /* by Atle Mo & Sebastien Grosjean */
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}
